DATABASE_URL=postgresql://neondb_owner:npg_4OtKZrTayv9k@ep-purple-snow-atms2ldt-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
OPENAQ_API_KEY=
OPENWEATHER_API_KEY=
SECRET_KEY=